.container{
    /* border: 1px solid blue; */

}
.sub-container{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 30px;
}

.sub-container div{
    /* border: 1px solid black; */
    position: relative;
    /* width: 50%; */
}

.sub-container img{
    width: 100%;
}
